<div class="about">
<h2>About  Me</h2>
<img src="assets/images/mariel.png" alt="">
<h3>Hello , My name is  Mariel Cayomoc Saraum. I’m 19 years -old with a love for web development. 
Exploring the ever-evolving world of coding and design, I find joy in crafting seamless user experiences 
and bringing ideas to life through the art of web development. From front-end aesthetics to back-end functionality,
 I thrive on the intricacies of creating responsive and dynamic websites. Join me on this exciting journey where 
every line of code tells a unique story in the vast landscape of the digital realm.</h3>
</div>
<div class="education">
    <h1>EDUCATION</h1>
    <h2>Vista Villa Elementary School  (2012-2016)
Sumilao National High School - Vista Villa Annex (2016- 2022) 
Northern Bukidnon State College (2nd Year College - BSIT)</h2>
</div>
<div class="hobbies">
    <h1>HOBBIES</h1>
    <h2>Watching movies, Listening to music, Reading books.</h2>
</div>